/* FooterCategory.css */

.category-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-header-container {
  text-align: center;
}

.category-header {
  margin-top: 40px;
  color: rgb(95, 95, 95);
}

.category-list-container {
  height: 200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.category-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  transition: background-color 0.3s ease;
}

a:hover {
  cursor: pointer;
  background-color: #878787;
}

@media screen and (max-width: 600px) {
  .category-list-container {
    height: auto;
  }

  .category-container {
    margin-bottom: 40px;
  }
}