footer {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-img{
    width: 120px;
    height: 200px;
    object-fit: contain;
}

.footer-category-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 40px;
    height: auto !important;
    flex-direction: column;
    justify-content: normal;
  }

  .footer-category-container {
    flex-direction: column;
  }
}
